<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">
		<link href="src/index.css" rel="stylesheet" type="text/css">
		<script src="src/index.js" defer></script>
	</head>
	<body>
		<main>

			<article>
				<header>
					<h1>My Presentation</h1>
				</header>
				<footer>
					<span data-onepunch="date"></span> / Slide <span data-onepunch="slide-number"></span>
				</footer>
			</article>

		</main>
	</body>
</html>
